<mat-tab-group>
    <mat-tab label="Permanent Jobs">
         <!-- Posted job cards start -->
         <div class="container  my-5">
            <!-- Posted job cards row start-->
            <div class="row">
                <div class="col-3">
                    <section class="main-content job-list">
                        <div class="container">
                            <!-- <div class="row">
                                <div class="col-sm-6 offset-sm-3"> -->
                                    <div class="job-card">
                                        <div class="job-card__content">
                                            <div class="job-card__content-top">
                                                <div class="job-card_img">
                                                    <img src="assets/logo/nagad-logo.png" alt="Company Logo">
                                                </div>
                                                <div class="job-card_info">
                                                    <a href="#!" class="job-card_company">
                                                        <h4 class="mb-1 d-inline-block">Nagad</h4>
                                                    </a>
                                                    <p class="text-muted mb-0">Dhaka, BD</p>
                                                </div>
                                            </div>
                                            <div class="job-card_content-mid">
                                                <h4>Software Engineer</h4>
                                                <p class="mb-0">$75k - $105k</p>
                                                <div class="job-card_job-type">
                                                    <span class="job-label">Full time</span>
                                                    <span class="job-label">Senior</span>
                                                    <span class="job-label">UX/UI</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="job-card__footer">
                                            <p class="mb-1 mt-1 text-muted">Posted: 2 days ago</p>
                                            <button class="btn btn-primary">Apply</button>
                                        </div>
                                    </div>
                                <!-- </div>
                            </div> -->
                        </div>
                    </section>
                </div>
                <div class="col-3">
                    <section class="main-content job-list">
                        <div class="container">
                            <!-- <div class="row">
                                <div class="col-sm-6 offset-sm-3"> -->
                                    <div class="job-card">
                                        <div class="job-card__content">
                                            <div class="job-card__content-top">
                                                <div class="job-card_img">
                                                    <img src="assets/logo/nagad-logo.png" alt="Company Logo">
                                                </div>
                                                <div class="job-card_info">
                                                    <a href="#!" class="job-card_company">
                                                        <h4 class="mb-1 d-inline-block">Slack</h4>
                                                    </a>
                                                    <p class="text-muted mb-0">London, UK</p>
                                                </div>
                                            </div>
                                            <div class="job-card_content-mid">
                                                <h4>Sr. Userexperience Designer</h4>
                                                <p class="mb-0">$75k - $105k</p>
                                                <div class="job-card_job-type">
                                                    <span class="job-label">Full time</span>
                                                    <span class="job-label">Senior</span>
                                                    <span class="job-label">UX/UI</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="job-card__footer">
                                            <p class="mb-1 mt-1 text-muted">Posted: 2 days ago</p>
                                            <button class="btn btn-primary">Apply</button>
                                        </div>
                                    </div>
                                <!-- </div>
                            </div> -->
                        </div>
                    </section>
                </div>
                <div class="col-3">
                    <section class="main-content job-list">
                        <div class="container">
                            <!-- <div class="row">
                                <div class="col-sm-6 offset-sm-3"> -->
                                    <div class="job-card">
                                        <div class="job-card__content">
                                            <div class="job-card__content-top">
                                                <div class="job-card_img">
                                                    <img src="assets/logo/nagad-logo.png" alt="Company Logo">
                                                </div>
                                                <div class="job-card_info">
                                                    <a href="#!" class="job-card_company">
                                                        <h4 class="mb-1 d-inline-block">Slack</h4>
                                                    </a>
                                                    <p class="text-muted mb-0">London, UK</p>
                                                </div>
                                            </div>
                                            <div class="job-card_content-mid">
                                                <h4>Sr. Userexperience Designer</h4>
                                                <p class="mb-0">$75k - $105k</p>
                                                <div class="job-card_job-type">
                                                    <span class="job-label">Full time</span>
                                                    <span class="job-label">Senior</span>
                                                    <span class="job-label">UX/UI</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="job-card__footer">
                                            <p class="mb-1 mt-1 text-muted">Posted: 2 days ago</p>
                                            <button class="btn btn-primary">Apply</button>
                                        </div>
                                    </div>
                                <!-- </div>
                            </div> -->
                        </div>
                    </section>
                </div>
                <div class="col-3">
                    <section class="main-content job-list">
                        <div class="container">
                            <!-- <div class="row">
                                <div class="col-sm-6 offset-sm-3"> -->
                                    <div class="job-card">
                                        <div class="job-card__content">
                                            <div class="job-card__content-top">
                                                <div class="job-card_img">
                                                    <img src="assets/logo/nagad-logo.png" alt="Company Logo">
                                                </div>
                                                <div class="job-card_info">
                                                    <a href="#!" class="job-card_company">
                                                        <h4 class="mb-1 d-inline-block">Slack</h4>
                                                    </a>
                                                    <p class="text-muted mb-0">London, UK</p>
                                                </div>
                                            </div>
                                            <div class="job-card_content-mid">
                                                <h4>Sr. Userexperience Designer</h4>
                                                <p class="mb-0">$75k - $105k</p>
                                                <div class="job-card_job-type">
                                                    <span class="job-label">Full time</span>
                                                    <span class="job-label">Senior</span>
                                                    <span class="job-label">UX/UI</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="job-card__footer">
                                            <p class="mb-1 mt-1 text-muted">Posted: 2 days ago</p>
                                            <button class="btn btn-primary">Apply</button>
                                        </div>
                                    </div>
                                <!-- </div>
                            </div> -->
                        </div>
                    </section>
                </div>
            </div>
    
            <!-- second row -->
            <div class="row">
                <div class="col-3">
                    <section class="main-content job-list">
                        <div class="container">
                            <!-- <div class="row">
                                <div class="col-sm-6 offset-sm-3"> -->
                                    <div class="job-card">
                                        <div class="job-card__content">
                                            <div class="job-card__content-top">
                                                <div class="job-card_img">
                                                    <img src="assets/logo/nagad-logo.png" alt="Company Logo">
                                                </div>
                                                <div class="job-card_info">
                                                    <a href="#!" class="job-card_company">
                                                        <h4 class="mb-1 d-inline-block">Slack</h4>
                                                    </a>
                                                    <p class="text-muted mb-0">London, UK</p>
                                                </div>
                                            </div>
                                            <div class="job-card_content-mid">
                                                <h4>Sr. Userexperience Designer</h4>
                                                <p class="mb-0">$75k - $105k</p>
                                                <div class="job-card_job-type">
                                                    <span class="job-label">Full time</span>
                                                    <span class="job-label">Senior</span>
                                                    <span class="job-label">UX/UI</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="job-card__footer">
                                            <p class="mb-1 mt-1 text-muted">Posted: 2 days ago</p>
                                            <button class="btn btn-primary">Apply</button>
                                        </div>
                                    </div>
                                <!-- </div>
                            </div> -->
                        </div>
                    </section>
                </div>
                <div class="col-3">
                    <section class="main-content job-list">
                        <div class="container">
                            <!-- <div class="row">
                                <div class="col-sm-6 offset-sm-3"> -->
                                    <div class="job-card">
                                        <div class="job-card__content">
                                            <div class="job-card__content-top">
                                                <div class="job-card_img">
                                                    <img src="assets/logo/nagad-logo.png" alt="Company Logo">
                                                </div>
                                                <div class="job-card_info">
                                                    <a href="#!" class="job-card_company">
                                                        <h4 class="mb-1 d-inline-block">Slack</h4>
                                                    </a>
                                                    <p class="text-muted mb-0">London, UK</p>
                                                </div>
                                            </div>
                                            <div class="job-card_content-mid">
                                                <h4>Sr. Userexperience Designer</h4>
                                                <p class="mb-0">$75k - $105k</p>
                                                <div class="job-card_job-type">
                                                    <span class="job-label">Full time</span>
                                                    <span class="job-label">Senior</span>
                                                    <span class="job-label">UX/UI</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="job-card__footer">
                                            <p class="mb-1 mt-1 text-muted">Posted: 2 days ago</p>
                                            <button class="btn btn-primary">Apply</button>
                                        </div>
                                    </div>
                                <!-- </div>
                            </div> -->
                        </div>
                    </section>
                </div>
                <div class="col-3">
                    <section class="main-content job-list">
                        <div class="container">
                            <!-- <div class="row">
                                <div class="col-sm-6 offset-sm-3"> -->
                                    <div class="job-card">
                                        <div class="job-card__content">
                                            <div class="job-card__content-top">
                                                <div class="job-card_img">
                                                    <img src="assets/logo/nagad-logo.png" alt="Company Logo">
                                                </div>
                                                <div class="job-card_info">
                                                    <a href="#!" class="job-card_company">
                                                        <h4 class="mb-1 d-inline-block">Slack</h4>
                                                    </a>
                                                    <p class="text-muted mb-0">London, UK</p>
                                                </div>
                                            </div>
                                            <div class="job-card_content-mid">
                                                <h4>Sr. Userexperience Designer</h4>
                                                <p class="mb-0">$75k - $105k</p>
                                                <div class="job-card_job-type">
                                                    <span class="job-label">Full time</span>
                                                    <span class="job-label">Senior</span>
                                                    <span class="job-label">UX/UI</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="job-card__footer">
                                            <p class="mb-1 mt-1 text-muted">Posted: 2 days ago</p>
                                            <button class="btn btn-primary">Apply</button>
                                        </div>
                                    </div>
                                <!-- </div>
                            </div> -->
                        </div>
                    </section>
                </div>
                <div class="col-3">
                    <section class="main-content job-list">
                        <div class="container">
                            <!-- <div class="row">
                                <div class="col-sm-6 offset-sm-3"> -->
                                    <div class="job-card">
                                        <div class="job-card__content">
                                            <div class="job-card__content-top">
                                                <div class="job-card_img">
                                                    <img src="assets/logo/nagad-logo.png" alt="Company Logo">
                                                </div>
                                                <div class="job-card_info">
                                                    <a href="#!" class="job-card_company">
                                                        <h4 class="mb-1 d-inline-block">Slack</h4>
                                                    </a>
                                                    <p class="text-muted mb-0">London, UK</p>
                                                </div>
                                            </div>
                                            <div class="job-card_content-mid">
                                                <h4>Sr. Userexperience Designer</h4>
                                                <p class="mb-0">$75k - $105k</p>
                                                <div class="job-card_job-type">
                                                    <span class="job-label">Full time</span>
                                                    <span class="job-label">Senior</span>
                                                    <span class="job-label">UX/UI</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="job-card__footer">
                                            <p class="mb-1 mt-1 text-muted">Posted: 2 days ago</p>
                                            <button class="btn btn-primary">Apply</button>
                                        </div>
                                    </div>
                                <!-- </div>
                            </div> -->
                        </div>
                    </section>
                </div>
            </div>
            <!-- second row end -->
        </div>
        <!-- Posted job cards end --> 
    </mat-tab>

    <mat-tab label="Freelance Jobs">
         <!-- Posted job cards start -->
         <div class="container  my-5">
            <!-- Posted job cards row start-->
            <div class="row freelance-job-list">
                <div class="col-6">
                    <div class="container">
                        <div class="card mx-auto">
                            <div class="row">
                                <div class="logo ml-3 mb-3"><img src="assets/logo/google-logo.png"></div>
                            </div>
                                <div class="card-title">
                                    <p class="heading">Logo Design&nbsp;<i class="bi bi-compass"></i></p>
                                </div>
                                
                                <p class="text-muted">You will be responsible for the visual design<br>for multi device.Understand basic design,<br>User journey, Ideation and Wireframing, etc...</p>
                                <div class="row btnrow my-4">
                                    <div class="col-4 col-md-3"><button type="button" class="btn btn-outline-success btn-sm" style="background: #00ff002b;">Full Time</button></div>
                                    <div class="col-4 col-md-3"><button type="button" class="btn btn-outline-primary btn-sm" style="background: #007bff33;">Min. 1 year</button></div>
                                    <div class="col-4 col-md-3"><button type="button" class="btn btn-outline-danger btn-sm" style="background: #dc35452e;">Director</button></div>
                                </div>
                    
                                <div class="mutual"><i class="bi bi-people-fill"></i>&nbsp;&nbsp;<span>5 Friends work here</span></div>
                                <div class="row btnsubmit mt-4">
                                    <div class="col-md-6 col-6">
                                        <button type="button" class="btn btn-primary btn-lg"><span>Apply Now</span></button>
                                    </div>
                                    <div class="col-md-6 col-6">
                                        <button type="button" class="btn btn-dark btn-lg"><span>View</span></button>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-6">
                    <div class="container">
                        <div class="card mx-auto">
                            <div class="row">
                                <div class="logo ml-3 mb-3"><img src="assets/logo/android-logo.png"></div>
                            </div>
                                <div class="card-title">
                                    <p class="heading">Web Design&nbsp;<i class="bi bi-compass"></i></p>
                                </div>
                                
                                <p class="text-muted">You will be responsible for the visual design<br>for multi device.Understand basic design,<br>User journey, Ideation and Wireframing, etc...</p>
                                <div class="row btnrow my-4">
                                    <div class="col-4 col-md-3"><button type="button" class="btn btn-outline-success btn-sm" style="background: #00ff002b;">Full Time</button></div>
                                    <div class="col-4 col-md-3"><button type="button" class="btn btn-outline-primary btn-sm" style="background: #007bff33;">Min. 1 year</button></div>
                                    <div class="col-4 col-md-3"><button type="button" class="btn btn-outline-danger btn-sm" style="background: #dc35452e;">Director</button></div>
                                </div>
                    
                                <div class="mutual"><i class="bi bi-people-fill"></i>&nbsp;&nbsp;<span>5 Friends work here</span></div>
                                <div class="row btnsubmit mt-4">
                                    <div class="col-md-6 col-6">
                                        <button type="button" class="btn btn-primary btn-lg"><span>Apply Now</span></button>
                                    </div>
                                    <div class="col-md-6 col-6">
                                        <button type="button" class="btn btn-dark btn-lg"><span>View</span></button>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-6">
                    <div class="container">
                        <div class="card mx-auto">
                            <div class="row">
                                <div class="logo ml-3 mb-3"><img src="assets/logo/nagad-logo.png"></div>
                            </div>
                                <div class="card-title">
                                    <p class="heading">Digital Marketing&nbsp;<i class="bi bi-compass"></i></p>
                                </div>
                                
                                <p class="text-muted">You will be responsible for the visual design<br>for multi device.Understand basic design,<br>User journey, Ideation and Wireframing, etc...</p>
                                <div class="row btnrow my-4">
                                    <div class="col-4 col-md-3"><button type="button" class="btn btn-outline-success btn-sm" style="background: #00ff002b;">Full Time</button></div>
                                    <div class="col-4 col-md-3"><button type="button" class="btn btn-outline-primary btn-sm" style="background: #007bff33;">Min. 1 year</button></div>
                                    <div class="col-4 col-md-3"><button type="button" class="btn btn-outline-danger btn-sm" style="background: #dc35452e;">Director</button></div>
                                </div>
                    
                                <div class="mutual"><i class="bi bi-people-fill"></i>&nbsp;&nbsp;<span>5 Friends work here</span></div>
                                <div class="row btnsubmit mt-4">
                                    <div class="col-md-6 col-6">
                                        <button type="button" class="btn btn-primary btn-lg"><span>Apply Now</span></button>
                                    </div>
                                    <div class="col-md-6 col-6">
                                        <button type="button" class="btn btn-dark btn-lg"><span>View</span></button>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-6">
                    <div class="container">
                        <div class="card mx-auto">
                            <div class="row">
                                <div class="logo ml-3 mb-3"><img src="assets/logo/Tesla_logo.png"></div>
                            </div>
                                <div class="card-title">
                                    <p class="heading">Video Editing&nbsp;<i class="bi bi-compass"></i></p>
                                </div>
                                
                                <p class="text-muted">You will be responsible for the visual design<br>for multi device.Understand basic design,<br>User journey, Ideation and Wireframing, etc...</p>
                                <div class="row btnrow my-4">
                                    <div class="col-4 col-md-3"><button type="button" class="btn btn-outline-success btn-sm" style="background: #00ff002b;">Full Time</button></div>
                                    <div class="col-4 col-md-3"><button type="button" class="btn btn-outline-primary btn-sm" style="background: #007bff33;">Min. 1 year</button></div>
                                    <div class="col-4 col-md-3"><button type="button" class="btn btn-outline-danger btn-sm" style="background: #dc35452e;">Director</button></div>
                                </div>
                    
                                <div class="mutual"><i class="bi bi-people-fill"></i>&nbsp;&nbsp;<span>5 Friends work here</span></div>
                                <div class="row btnsubmit mt-4">
                                    <div class="col-md-6 col-6">
                                        <button type="button" class="btn btn-primary btn-lg"><span>Apply Now</span></button>
                                    </div>
                                    <div class="col-md-6 col-6">
                                        <button type="button" class="btn btn-dark btn-lg"><span>View</span></button>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-6">
                    <div class="container">
                        <div class="card mx-auto">
                            <div class="row">
                                <div class="logo ml-3 mb-3"><img src="assets/logo/kisspng-logo.jpg"></div>
                            </div>
                                <div class="card-title">
                                    <p class="heading">Voice Over&nbsp;<i class="bi bi-compass"></i></p>
                                </div>
                                
                                <p class="text-muted">You will be responsible for the visual design<br>for multi device.Understand basic design,<br>User journey, Ideation and Wireframing, etc...</p>
                                <div class="row btnrow my-4">
                                    <div class="col-4 col-md-3"><button type="button" class="btn btn-outline-success btn-sm" style="background: #00ff002b;">Full Time</button></div>
                                    <div class="col-4 col-md-3"><button type="button" class="btn btn-outline-primary btn-sm" style="background: #007bff33;">Min. 1 year</button></div>
                                    <div class="col-4 col-md-3"><button type="button" class="btn btn-outline-danger btn-sm" style="background: #dc35452e;">Director</button></div>
                                </div>
                    
                                <div class="mutual"><i class="bi bi-people-fill"></i>&nbsp;&nbsp;<span>5 Friends work here</span></div>
                                <div class="row btnsubmit mt-4">
                                    <div class="col-md-6 col-6">
                                        <button type="button" class="btn btn-primary btn-lg"><span>Apply Now</span></button>
                                    </div>
                                    <div class="col-md-6 col-6">
                                        <button type="button" class="btn btn-dark btn-lg"><span>View</span></button>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-6">
                    <div class="container">
                        <div class="card mx-auto">
                            <div class="row">
                                <div class="logo ml-3 mb-3"><img src="assets/logo/text-logo.png"></div>
                            </div>
                                <div class="card-title">
                                    <p class="heading">Translator&nbsp;<i class="bi bi-compass"></i></p>
                                </div>
                                
                                <p class="text-muted">You will be responsible for the visual design<br>for multi device.Understand basic design,<br>User journey, Ideation and Wireframing, etc...</p>
                                <div class="row btnrow my-4">
                                    <div class="col-4 col-md-3"><button type="button" class="btn btn-outline-success btn-sm" style="background: #00ff002b;">Full Time</button></div>
                                    <div class="col-4 col-md-3"><button type="button" class="btn btn-outline-primary btn-sm" style="background: #007bff33;">Min. 1 year</button></div>
                                    <div class="col-4 col-md-3"><button type="button" class="btn btn-outline-danger btn-sm" style="background: #dc35452e;">Director</button></div>
                                </div>
                    
                                <div class="mutual"><i class="bi bi-people-fill"></i>&nbsp;&nbsp;<span>5 Friends work here</span></div>
                                <div class="row btnsubmit mt-4">
                                    <div class="col-md-6 col-6">
                                        <button type="button" class="btn btn-primary btn-lg"><span>Apply Now</span></button>
                                    </div>
                                    <div class="col-md-6 col-6">
                                        <button type="button" class="btn btn-dark btn-lg"><span>View</span></button>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
        <!-- Posted job cards end --> 
    </mat-tab>
</mat-tab-group>