<!-- accordion form start -->
<div class="container">
    <div class="">
        <form class="form-employment" action="" method="post">
            <div class="">
                <h2 class="">Freelance Job Post</h2>
            </div>
            <div class="row my-3">
                <div class="col-lg-6 mb-3">
                    <label for="deadline" class="form-label">Category</label>
                    <select class="form-select">
                        <option selected>Select</option>
                        <option value="1">Development & IT</option>
                        <option value="2">Design & Creative</option>
                        <option value="3">Sales & Marketing</option>
                    </select>
                </div>
                <div class="col-lg-6">
                    <label for="picture" class="form-label">Upload Picture</label>
                    <input type="file" class="form-control">
                </div>
            </div>
            <div class="row my-3">
                <div class="col-lg-6 mb-3">
                    <label for="job-title" class="form-label">Job Title</label>
                    <input type="text" class="form-control" placeholder="Job Title">
                </div>
                <div class="col-lg-6">
                    <label for="company-name" class="form-label">Company Name</label>
                    <input type="text" class="form-control" placeholder="Company Name">
                </div>
            </div>
            <div class="row my-3">
                <div class="col-lg-6 mb-3">
                    <label for="job-type" class="form-label">Job Type</label>
                    <select class="form-select">
                        <option selected>Select</option>
                        <option value="1">Hourly</option>
                        <option value="2">Fixed Price</option>
                    </select>
                </div>
                <div class="col-lg-6">
                    <label for="experience-level" class="form-label">Experience Level</label>
                    <select class="form-select">
                        <option selected>Select</option>
                        <option value="1">Entry Level</option>
                        <option value="2">Intermediate</option>
                        <option value="3">Expert</option>
                    </select>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-lg-6 mb-3">
                    <label for="project-lenght" class="form-label">Project Length (Days/weeks/months/years)</label>
                    <input type="text" class="form-control" placeholder="Project Length">
                </div>
                <div class="col-lg-6">
                    <label for="work-place" class="form-label">Work Place</label>
                    <select class="form-select">
                        <option selected>Select</option>
                        <option value="1">Work from Home</option>
                        <option value="2">Work at office</option>
                        <option value="2">Other Places</option>
                    </select>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-lg-6 mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input type="number" class="form-control" placeholder="Price">
                </div>
                <div class="col-lg-6">
                    <label for="deadline" class="form-label">Deadline</label>
                    <input type="datetime-local" class="form-control">
                </div>
            </div>
            <div class="row my-3">
                <div class="col-lg-6 mb-3">
                    <label for="required-skills" class="form-label">Required Skills</label>
                    <textarea type="text" class="form-control" placeholder="Job Context"></textarea>
                </div>
                <div class="col-lg-6">
                    <label for="description" class="form-label">Description</label>
                    <textarea type="text" class="form-control" placeholder="Description"></textarea>
                </div>
            </div>
            
            
            <div class="mt-2">
                <button type="submit" class="btn btn-primary me-3">Save</button>
                <button type="submit" class="btn btn-primary">Close</button>
            </div>
        </form>
    </div>
</div>

  <!-- accordion form end -->