<mat-tab-group>
    <mat-tab label="Permanent Job">
         <!-- Accordion form start -->
         <div class="container">
            <div class="">
                <form class="form-employment" action="" method="post">
                    <div class="">
                        <h6 class="">Job Post</h6>
                    </div>
                    <div class="row my-3">
                        <div class="col-lg-6 mb-3">
                            <label for="picture" class="form-label">Upload Company Logo</label>
                            <input type="file" class="form-control">
                        </div>
                        <div class="col-lg-6">
                            <label for="deadline" class="form-label">Deadline</label>
                            <input type="datetime-local" class="form-control" placeholder="Last Date of Application">
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-lg-6 mb-3">
                            <label for="job-title" class="form-label">Job Title</label>
                            <input type="text" class="form-control" placeholder="Job Title">
                        </div>
                        <div class="col-lg-6">
                            <label for="company-name" class="form-label">Company Name</label>
                            <input type="text" class="form-control" placeholder="Company Name">
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-lg-6 mb-3">
                            <label for="number-of-vacancy" class="form-label">Number of Vacancy</label>
                            <input type="number" class="form-control" placeholder="Number of Vacancy">
                        </div>
                        <div class="col-lg-6">
                            <label for="employment-status" class="form-label">Employment Status</label>
                            <select class="form-select">
                                <option selected>Select</option>
                                <option value="1">Part-time</option>
                                <option value="2">Full-time</option>
                                <option value="3">Contactual</option>
                            </select>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-lg-6 mb-3">
                            <label for="location" class="form-label">Location</label>
                            <input type="text" class="form-control" placeholder="Location">
                        </div>
                        <div class="col-lg-6">
                            <label for="work-place" class="form-label">Workplace</label>
                            <select class="form-select">
                                <option selected>Select</option>
                                <option value="1">Work from Home</option>
                                <option value="2">Work at office</option>
                            </select>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-lg-6 mb-3">
                            <label for="gender" class="form-label">Gender</label>
                            <select class="form-select">
                                <option selected>Select</option>
                                <option value="1">Male</option>
                                <option value="2">Female</option>
                                <option value="3">Both Male and Female</option>
                                <option value="4">Others</option>
                            </select>
                        </div>
                        <div class="col-lg-6">
                            <label for="age" class="form-label">Age</label>
                            <input type="number" class="form-control" placeholder="Age">
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-lg-6 mb-3">
                            <label for="job-context" class="form-label">Job Context</label>
                            <textarea type="text" class="form-control" placeholder="Job Context"></textarea>
                        </div>
                        <div class="col-lg-6">
                            <label for="duties" class="form-label">Duties/Responsibilities</label>
                            <textarea type="text" class="form-control" placeholder="Duties/Responsibilities"></textarea>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-lg-6 mb-3">
                            <label for="education" class="form-label">Education</label>
                            <input type="text" class="form-control" placeholder="Education">
                        </div>
                        <div class="col-lg-6">
                            <label for="experience" class="form-label">Experience</label>
                            <input type="text" class="form-control" placeholder="Experience">
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-lg-6 mb-3">
                            <label for="additional-requirements" class="form-label">Additional Requirements</label>
                            <textarea type="text" class="form-control" placeholder="Additional Requirements"></textarea>
                        </div>
                        <div class="col-lg-6">
                            <label for="other-benefits" class="form-label">Other Benefits</label>
                            <textarea type="text" class="form-control" placeholder="Other Benefits"></textarea>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-lg-6 mb-3">
                            <label for="salary" class="form-label">Salary</label>
                            <input type="number" class="form-control" placeholder="Salary">
                        </div>
                        <div class="col-lg-6">
                            <label for="category" class="form-label">Job Category</label>
                            <input type="text" class="form-control" placeholder="Job Category">
                        </div>
                    </div>
                    
                    
                    <div class="mt-2">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="submit" class="btn btn-primary">Close</button>
                    </div>
                </form>
            </div>
        </div>
          <!-- accordion form end -->
 
    </mat-tab>

    <mat-tab label="Freelance Job">
         <!-- accordion form start -->
         <div class="container">
            <div class="">
                <form class="form-employment" action="" method="post">
                    <div class="">
                        <h6 class="">Freelance Job Post</h6>
                    </div>
                    <div class="row my-3">
                        <div class="col-lg-6 mb-3">
                            <label for="deadline" class="form-label">Category</label>
                            <select class="form-select">
                                <option selected>Select</option>
                                <option value="1">Development & IT</option>
                                <option value="2">Design & Creative</option>
                                <option value="3">Sales & Marketing</option>
                            </select>
                        </div>
                        <div class="col-lg-6">
                            <label for="picture" class="form-label">Upload Picture</label>
                            <input type="file" class="form-control">
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-lg-6 mb-3">
                            <label for="job-title" class="form-label">Job Title</label>
                            <input type="text" class="form-control" placeholder="Job Title">
                        </div>
                        <div class="col-lg-6">
                            <label for="company-name" class="form-label">Company Name</label>
                            <input type="text" class="form-control" placeholder="Company Name">
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-lg-6 mb-3">
                            <label for="job-type" class="form-label">Job Type</label>
                            <select class="form-select">
                                <option selected>Select</option>
                                <option value="1">Hourly</option>
                                <option value="2">Fixed Price</option>
                            </select>
                        </div>
                        <div class="col-lg-6">
                            <label for="experience-level" class="form-label">Experience Level</label>
                            <select class="form-select">
                                <option selected>Select</option>
                                <option value="1">Entry Level</option>
                                <option value="2">Intermediate</option>
                                <option value="3">Expert</option>
                            </select>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-lg-6 mb-3">
                            <label for="project-lenght" class="form-label">Project Length (Days/weeks/months/years)</label>
                            <input type="text" class="form-control" placeholder="Location">
                        </div>
                        <div class="col-lg-6">
                            <label for="work-place" class="form-label">Work Place</label>
                            <select class="form-select">
                                <option selected>Select</option>
                                <option value="1">Work from Home</option>
                                <option value="2">Work at office</option>
                                <option value="2">Other Places</option>
                            </select>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-lg-6 mb-3">
                            <label for="price" class="form-label">Price</label>
                            <input type="number" class="form-control" placeholder="Price">
                        </div>
                        <div class="col-lg-6">
                            <label for="age" class="form-label">Age</label>
                            <input type="number" class="form-control" placeholder="Age">
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-lg-6 mb-3">
                            <label for="required-skills" class="form-label">Required Skills</label>
                            <textarea type="text" class="form-control" placeholder="Job Context"></textarea>
                        </div>
                        <div class="col-lg-6">
                            <label for="description" class="form-label">Description</label>
                            <textarea type="text" class="form-control" placeholder="Description"></textarea>
                        </div>
                    </div>
                    
                    
                    <div class="mt-2">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="submit" class="btn btn-primary">Close</button>
                    </div>
                </form>
            </div>
        </div>

          <!-- accordion form end -->
    </mat-tab>

  </mat-tab-group>
  

