<!-- accordion form start -->
<div class="container">
    <div>
      <form class="form-personal">
        <div class="row my-1">
          <div class="col-lg-6 mb-3">
            <label for="degree" class="form-label">Certification</label>
            <input type="text" class="form-control" placeholder="Certificate Name" id="certification">
          </div>
          <div class="col-lg-6">
            <label for="institute" class="form-label">Institute</label>
            <input type="text" class="form-control" placeholder="Institute Name" id="institute">
          </div>
        </div>
        <div class="row my-3">
          <div class="col-lg-6 mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" class="form-control" placeholder="Location Name" id="location">
          </div>
          <div class="col-lg-6">
            <label for="duration" class="form-label">Duration</label>
            <input type="text" class="form-control" placeholder="Duration" id="duration">
          </div>
        </div>
        <div class="my-2">
          <button type="submit" class="btn btn-primary" id="btn_save">Save</button>
          <button type="submit" class="btn btn-primary">Close</button>
        </div>
      </form>
    </div>
  </div>

  <!-- accordion form end --> 
