<mat-tab-group>
    <mat-tab label="Permanent Job CV">
         <!-- Posted job cards start -->
         <div class="container  my-5">
            <!-- Posted job cards row start-->
            <div class="row">
              <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
              <div class="card my-2">
                  <div class="card-body  my-4">
                      <div>
                          <i class="fa-solid fa-briefcase"></i>
                      </div>
                    <div>
                        <h4 class="card-text">John Doe</h4>
                    </div>
                  </div>
              </div>
          </div>
            </div>
        </div>
        <!-- Posted job cards end --> 
    </mat-tab>

    <mat-tab label="Freelance Job CV">
         <!-- Posted job cards start -->
         <div class="container  my-5">
            <!-- Posted job cards row start-->
            <div class="row">
              <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
              <div class="card my-2">
                  <div class="card-body  my-4">
                      <div>
                          <i class="fa-solid fa-briefcase"></i>
                      </div>
                    <div>
                        <h4 class="card-text">John Doe</h4>
                    </div>
                  </div>
              </div>
          </div>
            </div>
        </div>
        <!-- Posted job cards end --> 
    </mat-tab>
  </mat-tab-group>
