
mat-sidenav {
  margin: 16px;
  width: 250px;
  border-right: none;
  background: #ffffff;
  color: rgb(134, 134, 134);
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.content {
  // height: calc(100vh - 130px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;
  padding: 16px;
  overflow: auto;
  box-shadow: none;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;

  i {
    margin-right: 8px;
    color: #0d6efd;
  }

  span {
    color: #0d6efd;
  }
}

.menu-button:hover {
  background-color: #0d6efd;

  i {
    color: #ffffff;
  }

  span {
    color: #ffffff;
  }
}

.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  margin-top: 10px;
  font-weight: normal;
  color: #198754;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: #198754;
}

// mat-divider {
//   margin-top: 16px;
//   margin-bottom: 16px;
//   background-color: rgba(255, 255, 255, 0.5);
// }

ul{
  list-style-type: none;
}

.button mat-button .menu-button:not(.collapsed) .bi-chevron-down {
  transform: rotateX(180deg);
}


// .bi-chevron-down {
//   display: flex;
//   align-items: center;
//   justify-content: flex-end;
// }

// .bi-chevron-down {
//   margin-right: 0;
//   transition: transform 0.2s ease-in-out;
// }

.list-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 12px;

  i {
    margin-right: 8px;
    color: #198754;
  }

  span {
    color: #198754;
  }

}

.list-button:hover {
  background-color: #198754;

  i {
    color: #ffffff;
  }

  span {
    color: #ffffff;
  }

}
