<div class="container">
    <div class="row">
        <div class="col-6">
            <h1>{{ job.picture }}</h1>
        </div>
        <div class="col-6">
            <h4>{{ job.companyName }}</h4>
            <h5>{{ job.location }}</h5>
        </div>
    </div>

    <h2>{{ job.jobTitle }}</h2>

    <h3>Number of Vacancy</h3>
    <p></p>

    <h3>Workplace</h3>

    <h3>Gender</h3>

    <h3>Age</h3>

    <h3>Educational Requirements</h3>

    <h3>Experience Requirements</h3>

    <h3>Job Context</h3>

    <h3>Duties/Responsibilities</h3>

    <h3>Additional Requirements</h3>

    <h3>Salary</h3>

    <h3>Other Benifits</h3>

</div>