<mat-tab-group>
    <mat-tab label="Academic Summary">
         <!-- Academic summary view start -->

         <div class="container">
            <div>
              <button class="btn btn-primary float-end edit-btn">Edit</button>
            </div><br><br>
            <div class="academic-summary">
              <div class="row">
                <div class="col">
                  <h6 class="fw-bold">Degree</h6>
                </div>
                <div class="col">
                  <h6 class="fw-bold">Subject/Group</h6>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <h6 class="fw-bold">Institute/Board</h6>
                </div>
                <div class="col">
                  <h6 class="fw-bold">Year of Passing</h6>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <h6 class="fw-bold">Result</h6>
                </div>
                <div class="col">
                  <h6 class="fw-bold">Scale</h6>
                </div>
              </div>
            </div><br>
            <div>
              <button class="btn btn-primary add-btn">Add New</button>
            </div>
          </div>

          <!-- Academic summary view end -->
          
          <!-- accordion form start -->
          <div class="container">
            <div>
              <form class="form-academic" action="" method="post">
                <div class="row my-1">
                  <div class="col-lg-6 mb-3">
                    <label for="degree" class="form-label">Degree</label>
                    <select class="form-select">
                      <option selected>Select</option>
                      <option value="1">PSC/5 pass</option>
                      <option value="2">JSC/JDC/8 pass</option>
                      <option value="3">SSC/Dakhil/O Level</option>
                      <option value="4">HSC/Alim/A Level/</option>
                      <option value="5">Diploma</option>
                      <option value="6">Bachelor/Honours</option>
                      <option value="7">Masters</option>
                      <option value="5">PhD(Doctor of Philosophy)</option>
                    </select>
                  </div>
                  <div class="col-lg-6">
                    <label for="subject" class="form-label">Subject/Group</label>
                    <input type="text" class="form-control" placeholder="Subject/Group">
                  </div>
                </div>
                <div class="row my-3">
                  <div class="col-lg-6 mb-3">
                    <label for="institute" class="form-label">Institute/Board</label>
                    <input type="text" class="form-control" placeholder="Institute/Board">
                  </div>
                  <div class="col-lg-6">
                    <label for="passingYear" class="form-label">Year of Passing</label>
                    <input type="number" class="form-control" placeholder="Year">
                  </div>
                </div>
                <div class="row my-3">
                  <div class="col-lg-6 mb-3">
                    <label for="result" class="form-label">Result</label>
                    <input type="number" class="form-control" placeholder="GPA/CGPA">
                  </div>
                  <div class="col-lg-6">
                    <label for="scale" class="form-label">Scale</label>
                    <select class="form-select">
                      <option selected>Select</option>
                      <option value="1">Out of 4</option>
                      <option value="2">Out of 5</option>
                    </select>
                  </div>
                </div>
                <div class="my-2">
                  <button type="submit" class="btn btn-primary">Save</button>
                  <button type="submit" class="btn btn-primary">Close</button>
                </div>
              </form>
            </div>
          </div>

          <!-- accordion form end --> 
    </mat-tab>

    <mat-tab label="Professional Certification">
        <!-- accordion form start -->
        <div class="container">
            <div>
              <form class="form-personal">
                <div class="row my-1">
                  <div class="col-lg-6 mb-3">
                    <label for="degree" class="form-label">Certification</label>
                    <input type="text" class="form-control" placeholder="Certificate Name" id="certification">
                  </div>
                  <div class="col-lg-6">
                    <label for="institute" class="form-label">Institute</label>
                    <input type="text" class="form-control" placeholder="Institute Name" id="institute">
                  </div>
                </div>
                <div class="row my-3">
                  <div class="col-lg-6 mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" class="form-control" placeholder="Location Name" id="location">
                  </div>
                  <div class="col-lg-6">
                    <label for="duration" class="form-label">Duration</label>
                    <input type="text" class="form-control" placeholder="Duration" id="duration">
                  </div>
                </div>
                <div class="my-2">
                  <button type="submit" class="btn btn-primary" id="btn_save">Save</button>
                  <button type="submit" class="btn btn-primary">Close</button>
                </div>
              </form>
            </div>
          </div>

          <!-- accordion form end --> 
    </mat-tab>
  </mat-tab-group>
  
