
<div class="container">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Category Name</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let category of jobCategory">
                <td scope="row">{{ category.id }}</td>
                <td>{{ category.categoryName }}</td>
                <td>
                    <button (click)="setValue(category)" class="btn btn-sm btn-primary mx-2">Edit</button>
                    <button (click)="delete(category)" class="btn btn-sm btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="mb-3 mt-3">
        <label for="category-name" class="form-label">Category Name</label>
        <input type="text" class="form-control" id="category_name"  placeholder="Category Name" formControlName="categoryName">
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
