/* Home pagebackground img */
.bg-img{
    position: relative;
    text-align: center;
    color: white;
  }
  
  .bg-img img{
      filter: blur(3px);
  }
  
  /* Centered text */
  .bg-img .centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      button{
        box-shadow: 0 0 3px #ffffff, 0 0 5px #0000FF;
      }
  }
  
  .bg-img .title {
      font-weight: bold;
      font-size: 6vw;
      color: green;
      text-shadow: 0 0 3px #ffffff, 0 0 5px #0000FF;
  }
  
  .bg-img .slogan {
      font-weight: bold;
      font-size: 4vw;
      margin: 5%;
      text-shadow: 0 0 3px #0d6efd, 0 0 5px #0000FF;
  }
  
  /* Home pagebackground img end */

//  Job category Card Design

    .job-category .card {
        transition: 0.3s;
        color:#0d6efd;
        padding-top: 10px;
        padding-bottom: 10px;
        border-color: #198754;;

       i {
            font-size: 300%;
        }
    }

    .job-category  .card:hover {
        box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2);
        color:#0d6efd;
        cursor: pointer;
        overflow: visible;
      }

//    .card:hover {
//     color:aqua;
//     background-color: black;
//     font-size: 40px;
//     max-height: 40%;
//    }

//    .job-category .card{
//     max-height: 80%;
//    }

//  Job category Card Design  end

// Job list header

.job-list-head{
    font-size: 20px;
    color:#0d6efd;

    i{
        padding-right: 8px;
    }
    
}

// Job list header end

// job card start

.job-card {
    width: 350px;
    height:300px;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2);
    margin:8px;
  }
  
  .job-card:hover {
    box-shadow: 0 20px 40px 0 rgba(0,0,0,0.2);
    cursor: pointer;
  }
  
  .job-card .card-img-top p {
    margin-top: 10%;
    
  }
  
  .job-card .card-img-top img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%
  }
  
  .job-card .card-img-bottom .left {
    margin-left: 3%;
  }
  
  // job card End

// freelance job card
.freelance-job-list{
    .logo{
        border: 1px solid #f6f6f6;
    }
    
    .logo img{
        width: 60px;
        height: auto;
    }
    .card{
        display: block;
        padding: 3vh 2vh 7vh 5vh;
        border: 1px solid #0d6efd;
        border-radius: 15px;
        margin-top: 5%;
        margin-bottom: 5%;
        max-width: 500px;
        box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2);
    }
    
    .far{
        color: rgba(15, 198, 239, 0.97)!important;
        font-size: 16px!important;
    }
    p.heading{
        font-weight: bold;
        font-size: 25px;
    }
    p.text-muted{
        font-size: 17px;
        font-weight: bold;
        color: #a1a7ae!important;
    }
    .btn-sm{
        border-radius: 8px;
    }
    .bi .bi-people-fill{
        color: rgba(15, 198, 239, 0.97);
    }
    .mutual span{
        font-size: 14px;
        color: #adb5bd;
        font-weight: bold;
    }
    .btn-primary.btn-lg{
        border-radius: 30px;
        width: 90%;
        border: none;
        background: #8c02e3;
    }
    .btn-dark.btn-lg{
        border-radius: 30px;
        width: 90%;
        border: none;
        background: #dee2e6;
    }
    .btn-dark span{
        font-size: 14px;
        text-align: center;
        color: #0000008c;
        font-weight: bold;
    }
    .btn-primary span{
        font-size: 14px;
        text-align: center;
        color: #fff;
        font-weight: bold;
    }
}
// freelance job card end