<app-header></app-header><br>
	
	<div class="bg-img img-fluid">
		<div class="col-sm-12">
	  		<img src="assets/img/home.jpg" alt="Snow" style="width:100%;">
	    </div>
	  <div class="centered col-sm-12">
	  	<p class="title text-primary">JOB PORTAL</p>
	  	<p class="slogan">Create A Better Future For Yourself</p>
	  	<button class="btn btn-primary me-3">Post a Job</button>
	  	<button class="btn btn-primary me-3">Apply a Job</button>
	  </div>
	</div>
	
	
	
	
    <!-- Job by category cards start -->
    <div class="container  my-5">
        <div>
            <p>JOB BY CATEGORY</p>
        </div>

        <!-- Job by category cards row start-->
        <div class="row">
            <div class="col-3">
                <div class="card text-center my-4">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-center my-4">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-center my-4">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-center my-4">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-center my-4">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-center my-4">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-center my-4">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-center my-4">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div><br>
        <!-- Job by category cards row end -->

        <div class="text-end">
            <a href="/permanent/job/category">Browse more</a>
        </div>
    </div>
    <!-- Job by category cards end -->

    <!-- All current job cards start -->
    <div class="container  my-5">
        <div>
            <p>CURRENT JOB</p>
        </div>

        <!-- All current job cards row start-->
        <div class="row">
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- All current job cards row end -->

        <div class="text-end">
            <a href="/permanent/job">Browse more</a>
        </div>
    </div>
    <!-- All current job cards end -->



    <!--Freelance Job by category cards start -->
    <div class="container  my-5">
        <div>
            <p>FREELANCE JOB BY CATEGORY</p>
        </div>

        <!--Freelance Job by category cards row start-->
        <div class="row">
            <div class="col-3">
                <div class="card text-center my-4">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-center my-4">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-center my-4">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-center my-4">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-center my-4">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-center my-4">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-center my-4">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-center my-4">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div><br>
        <!--Freelance Job by category cards row end -->

        <div class="text-end">
            <a href="/freelance/job/category">Browse more</a>
        </div>
    </div>
    <!--Freelance Job by category cards end -->

    <!-- All current Freelance job cards start -->
    <div class="container  my-5">
        <div>
            <p>CURRENT FREELANCE JOB</p>
        </div>

        <!-- All current Freelance job cards row start-->
        <div class="row">
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- All current Freelance job cards row end -->

        <div class="text-end">
            <a href="/freelance/job">Browse more</a>
        </div>
    </div>
    <!-- All current Freelance job cards end -->


	<br>
	<br>



