
    <h1>Employment History</h1>
         <!-- accordion form start -->
         <div class="container">
            <div class="">
                <form class="form-employment" action="" method="post">
                    <div class="">
                        <h6 class="">Experience 1</h6>
                    </div>
                    <div class="row my-3">
                        <div class="col-lg-6 mb-3">
                            <label for="companyName" class="form-label">Company Name</label>
                            <input type="text" class="form-control" placeholder="Company Name">
                        </div>
                        <div class="col-lg-6">
                            <label for="designation" class="form-label">Designation</label>
                            <input type="text" class="form-control" placeholder="Designation">
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-lg-6 mb-3">
                            <label for="department" class="form-label">Department</label>
                            <input type="text" class="form-control" placeholder="Department">
                        </div>
                        <div class="col-lg-6">
                            <label for="location" class="form-label">Company Location</label>
                            <input type="text" class="form-control" placeholder="Company Location">
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-lg-6 mb-3">
                            <label for="employmentPeriod" class="form-label">Employment Period (Start Date)</label>
                            <input type="date" class="form-control" placeholder="Start Date">
                        </div>
                        <div class="col-lg-6">
                            <label for="end-date" class="form-label">(End Date)</label>
                            <span class="float-end">
                            <input type="checkbox" class="form-check-input">
                            <label for="currently-working" class="form-label">Currently Working</label>
                            </span>
                            <input type="date" class="form-control" placeholder="End Date">
                            <!-- <input type="text" class="form-control text-center" placeholder="Continuing" disabled readonly> -->
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-lg-6 mb-3">
                            <label for="duties" class="form-label">Duties/Responsibilities</label>
                            <textarea type="text" class="form-control" placeholder="Duties/Responsibilities"></textarea>
                        </div>
                        <div class="col-lg-6">
                            <label for="expertise-area" class="form-label">Area of Expertise</label>
                            <textarea type="text" class="form-control" placeholder="Area of Expertise"></textarea>
                        </div>
                    </div>
                    
                    <div class="mt-2">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="submit" class="btn btn-primary">Close</button>
                    </div>
                </form>
            </div>
        </div>
          <!-- accordion form end --> 

