
// change password button

.change-password {
    color: #0d6efd;
    cursor: pointer;
    font-size: large;
    text-decoration: underline;
}

// change password button

// profile pic

.img-profile {
    margin-bottom: 5%;
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 15%;
    }
}

// profile pic