<!-- navbar start -->

<nav class="navbar border border-bottom-primary navbar-expand-lg fixed-top bg-white">
    <div class="container">
        <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand fw-bold text-success" routerLink="/">Job Portal</a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active"
                    aria-current="page" routerLink="/">Home</a></li>
                <li class="nav-item"><a class="nav-link active" href="#">Link</a>
                </li>
                <li class="nav-item"><a class="nav-link active" href="#">Disabled</a>
                </li>
                <li class="nav-item"><a class="nav-link active" href="#">Link</a>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item me-2 mb-2 mb-lg-0">
                    <a routerLink="/login"><button class="btn btn-outline-success btn-sm" type="submit">Log In</button></a>
                </li>

                <li class="nav-item me-2 mb-2 mb-lg-0">
                    <a routerLink="/signup"><button class="btn btn-success btn-sm" type="submit">Sign
                        Up</button></a>
                </li>
            </ul>
            
            <form class="navbar-nav" action="/action_page.php">
                <div class="input-group">
                  <input type="text" class="form-control form-control-sm" placeholder="Search">
                  <div class="input-group-btn">
                    <button class="btn btn-sm btn-outline-success" type="submit">
                        <i class="bi bi-search"></i>
                    </button>
                  </div>
                </div>
            </form>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false"
                    href="#"><img src="assets/img/profile.png"
                        alt="Profile" style="width: 40px;" class="rounded-pill"></a>
                    <ul class="dropdown-menu dropdown-menu-end me-5">
                        <li><a class="dropdown-item" routerLink="/applicant">Applicant</a></li>
                        <li><a class="dropdown-item" routerLink="/employer">Employer</a></li>
                        <li><a class="dropdown-item" routerLink="/admin">Admin</a></li>
                        <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<br>
<!-- navbar end -->



