<mat-tab-group>
    <mat-tab label="Account Details">
         <!-- Accordion form start -->
         <div class="container">
            <div class="">
              <form class="form-employer" action="" method="post">
                <div class="row my-3">
                    <div class="col-lg-6 mb-3">
                        <label for="firstName" class="form-label">First Name</label>
                        <input type="text" class="form-control" placeholder="First name">
                    </div>
                    <div class="col-lg-6">
                        <label for="lastName" class="form-label">Last Name</label>
                        <input type="text" class="form-control" placeholder="Last name">
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-lg-6 mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="text" class="form-control" placeholder="Email">
                    </div>
                    <div class="col-lg-6">
                        <label for="phone" class="form-label">Phone</label>
                        <input type="number" class="form-control" placeholder="Phone">
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-lg-6 mb-3">
                        <label for="company-name" class="form-label">Company Name</label>
                        <input type="text" class="form-control" placeholder="Company Name">
                    </div>
                    <div class="col-lg-6">
                        <label for="designation" class="form-label">Designation</label>
                        <input type="text" class="form-control" placeholder="Designation">
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-lg-6 mb-3">
                        <label for="department" class="form-label">Department</label>
                        <input type="text" class="form-control" placeholder="Department">
                    </div>
                    <div class="col-lg-6">
                        <label for="company-location" class="form-label">Company Location</label>
                        <input type="text" class="form-control" placeholder="Company Location">
                    </div>
                </div>
                
                
                <div class="mt-2">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="submit" class="btn btn-primary">Close</button>
                </div>
            </form>

                <!-- Change password fields -->
                <div class="my-3">
                  <form class="form-password" action="" method="post">
                    <div class="row my-3">
                      <div class="mb-3">
                        <label for="old-password" class="form-label">Old Password</label>
                        <input type="password" class="form-control" placeholder="Old Password">
                      </div>
                      <div class="mb-3">
                        <label for="new-password" class="form-label">New Password</label>
                        <input type="password" class="form-control" placeholder="New Password">
                      </div>
                      <div class="mb-3">
                        <label for="confirm-password" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" placeholder="Confirm Password">
                      </div>
                    </div>
                    
                    <div class="mt-2">
                        <button type="submit" class="btn btn-primary">Update</button>
                        <button type="submit" class="btn btn-primary">Close</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
          <!-- accordion form end --> 
    </mat-tab>

    <mat-tab label="Personal Details">
         <!-- accordion form start -->
         <div class="container">
            <div>
              <form class="form-personal" action="" method="post">
                <div class="row my-3">
                  <div class="col-lg-6 mb-3">
                    <label for="date" class="form-label">Date of Birth</label>
                    <input type="date" class="form-control" placeholder="Date of Birth">
                  </div>
                  <div class="col-lg-6">
                    <label for="gender" class="form-label">Gender</label>
                    <select class="form-select">
                      <option selected>Select</option>
                      <option value="1">Male</option>
                      <option value="2">Female</option>
                      <option value="3">Others</option>
                    </select>
                  </div>
                </div>
                <div class="row my-3">
                  <div class="col-lg-6 mb-3">
                    <label for="maritalStatus" class="form-label">Marital Status</label>
                    <select class="form-select">
                      <option selected>Select</option>
                      <option value="1">Married</option>
                      <option value="2">Unmarried</option>
                      <option value="3">Divorced</option>
                    </select>
                  </div>
                  <div class="col-lg-6">
                    <label for="religion" class="form-label">Religion</label>
                    <select class="form-select">
                      <option selected>Select</option>
                      <option value="1">Islam</option>
                      <option value="2">Hinduism</option>
                      <option value="3">Christinity</option>
                      <option value="4">Buddhism</option>
                      <option value="5">Others</option>
                    </select>
                  </div>
                </div>
                <div class="row my-3">
                  <div class="col-lg-6 mb-3">
                    <label for="nationality" class="form-label">Nationality</label>
                    <select class="form-select">
                      <option selected>Select</option>
                      <option value="1">Bangladeshi</option>
                      <option value="2">Others</option>
                    </select>
                  </div>
                  <div class="col-lg-6">
                    <label for="nationalId" class="form-label">National ID</label>
                    <input type="number" class="form-control" placeholder="National ID">
                  </div>
                </div>
                <div class="my-2">
                  <button type="submit" class="btn btn-primary">Save</button>
                  <button type="submit" class="btn btn-primary">Close</button>
                </div>
              </form>
            </div>
          </div>

          <!-- accordion form end --> 
    </mat-tab>

    <mat-tab label="Address Details">
         <!-- accordion form start -->
         <div class="container">
            <div>
              <h6>Present Address</h6>
              <form class="form-address" action="" method="post">
                <div class="row my-1">
                  <div class="col-lg-6 mb-3">
                    <label for="district" class="form-label">District</label>
                    <input type="text" class="form-control" placeholder="District">
                  </div>
                  <div class="col-lg-6">
                    <label for="upazila" class="form-label">Upazila</label>
                    <input type="text" class="form-control" placeholder="Upazila">
                  </div>
                </div>
                <div class="row my-3">
                  <div class="col-lg-6 mb-3">
                    <label for="postOffice" class="form-label">Post Office</label>
                    <input type="text" class="form-control" placeholder="Post Office">
                  </div>
                  <div class="col-lg-6">
                    <label for="village" class="form-label">Village/Area</label>
                    <input type="text" class="form-control" placeholder="Village/Area">
                  </div>
                </div>
                <div class="my-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="checkbox">Same as Present Address</label>
                </div>
                <h6>Permanent Address</h6>
                <div class="row my-3">
                  <div class="col-lg-6 mb-3">
                    <label for="district" class="form-label">District</label>
                    <input type="text" class="form-control" placeholder="District">
                  </div>
                  <div class="col-lg-6">
                    <label for="upazila" class="form-label">Upazila</label>
                    <input type="text" class="form-control" placeholder="Upazila">
                  </div>
                </div>
                <div class="row my-3">
                  <div class="col-lg-6 mb-3">
                    <label for="postOffice" class="form-label">Post Office</label>
                    <input type="text" class="form-control" placeholder="Post Office">
                  </div>
                  <div class="col-lg-6">
                    <label for="village" class="form-label">Village/Area</label>
                    <input type="text" class="form-control" placeholder="Village/Area">
                  </div>
                </div>
                <div class="my-2">
                  <button type="submit" class="btn btn-primary">Save</button>
                  <button type="submit" class="btn btn-primary">Close</button>
                </div>
              </form>
            </div>
          </div>

          <!-- accordion form end -->
    </mat-tab>
  </mat-tab-group>