<nav class="navbar border border-bottom-primary bg-white">
  <div class="container">
    <button
      mat-icon-button
      *ngIf="sidenav.mode === 'over'"
      (click)="sidenav.toggle()"
    >
      <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
      <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </button>
    
    <a class="navbar-brand fw-bold text-success" routerLink="/">JOB PORTAL</a>
    <button class="btn btn-primary">Home</button>
  </div>
</nav>
  
  <mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
      <img
        class="avatar mat-elevation-z8"
        src="assets/img/profile.jpg"
      />
  
      <h4 class="name">Mazharul Islam Rakib</h4>
      <p class="designation">Employer</p>
  
      <mat-divider></mat-divider>
  
      <button mat-button class="menu-button" routerLink="/employer">
        <i class='bi bi-grid'></i>
        <span>Dashboard</span>
      </button>
      
      <!-- profile button -->
      <button mat-button class="menu-button collapsed" data-bs-target="#profile" data-bs-toggle="collapse">
        <i class='bi bi-person'></i>
        <span>Profile</span>
        <i class="bi bi-chevron-down"></i>
      </button>
      <ul id="profile" class="nav-content collapse">
        <li>
          <button mat-button class="list-button" routerLink="/employer/account-info">
            <i class="bi bi-arrow-right"></i>
            <span>Account Info</span>
          </button>
        </li>
        <li>
          <button mat-button class="list-button" routerLink="/employer/personal-details">
            <i class="bi bi-arrow-right"></i>
            <span>Personal Details</span>
          </button>
        </li>
        <li>
          <button mat-button class="list-button" routerLink="/employer/address-details">
            <i class="bi bi-arrow-right"></i>
            <span>Address Details</span>
          </button>
        </li>
      </ul>
      <!-- profile button end-->
      
      <!-- posted job button -->
      <button mat-button class="menu-button collapsed" data-bs-target="#posted-jobs" data-bs-toggle="collapse">
        <i class='bi bi-clipboard-check'></i>
        <span>Posted Jobs</span>
        <i class="bi bi-chevron-down"></i>
      </button>
      <ul id="posted-jobs" class="nav-content collapse">
        <li>
          <button mat-button class="list-button" routerLink="/employer/per-posted-jobs">
            <i class="bi bi-arrow-right"></i>
            <span>Permanent Jobs</span>
          </button>
        </li>
        <li>
          <button mat-button class="list-button" routerLink="/employer/free-posted-jobs">
            <i class="bi bi-arrow-right"></i>
            <span>Freelance Jobs</span>
          </button>
        </li>
      </ul>
      <!-- posted job button end-->

      <!-- cv bank button -->
      <button mat-button class="menu-button collapsed" data-bs-target="#cv-bank" data-bs-toggle="collapse">
        <i class='bi bi-envelope-check'></i>
        <span>CV Bank</span>
        <i class="bi bi-chevron-down"></i>
      </button>
      <ul id="cv-bank" class="nav-content collapse">
        <li>
          <button mat-button class="list-button" routerLink="/employer/per-job-cv">
            <i class="bi bi-arrow-right"></i>
            <span>Permanent Job</span>
          </button>
        </li>
        <li>
          <button mat-button class="list-button" routerLink="/employer/free-job-cv">
            <i class="bi bi-arrow-right"></i>
            <span>Freelance Job</span>
          </button>
        </li>
      </ul>
      <!-- cv bank button end-->

      <!-- others button -->
      <button mat-button class="menu-button collapsed" data-bs-target="#others" data-bs-toggle="collapse" routerLink="/applicant">
        <i class='bi bi-border-style nav_icon'></i>
        <span>Shorlisted</span>
        <i class="bi bi-chevron-down"></i>
      </button>
      <ul id="others" class="nav-content collapse">
        <li>
          <button mat-button class="list-button">
            <i class="bi bi-arrow-right"></i>
            <span>General Tables</span>
          </button>
        </li>
        <li>
          <button mat-button class="list-button">
            <i class="bi bi-arrow-right"></i>
            <span>Data Tables</span>
          </button>
        </li>
      </ul>
      <!-- others button end-->

      <!-- billing button -->
      <button mat-button class="menu-button collapsed" data-bs-target="#billing" data-bs-toggle="collapse">
        <i class='bi bi-coin'></i>
        <span>Billing</span>
        <i class="bi bi-chevron-down"></i>
      </button>
      <ul id="billing" class="nav-content collapse">
        <li>
          <button mat-button class="list-button" routerLink="/employer/balance">
            <i class="bi bi-arrow-right"></i>
            <span>Balance</span>
          </button>
        </li>
        <li>
          <button mat-button class="list-button" routerLink="/employer/payment-method">
            <i class="bi bi-arrow-right"></i>
            <span>Payment Method</span>
          </button>
        </li>
      </ul>
      <!-- posted job button end-->

      <!-- post a job button -->
      <button mat-button class="menu-button collapsed" data-bs-target="#job-post" data-bs-toggle="collapse">
        <i class='bi bi-box-arrow-in-down-left'></i>
        <span>Post A Job</span>
        <i class="bi bi-chevron-down"></i>
      </button>
      <ul id="job-post" class="nav-content collapse">
        <li>
          <button mat-button class="list-button" routerLink="/employer/per-job-post">
            <i class="bi bi-arrow-right"></i>
            <span>Permanet Job</span>
          </button>
        </li>
        <li>
          <button mat-button class="list-button" routerLink="/employer/free-job-post">
            <i class="bi bi-arrow-right"></i>
            <span>Freelance Job</span>
          </button>
        </li>
      </ul>
      <!-- posted job button end-->
  
      <mat-divider></mat-divider>
  
      <button mat-button class="menu-button" routerLink="/">
        <i class='bi bi-box-arrow-right'></i>
        <span>Sign Out</span>
      </button>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content mat-elevation-z8">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

