<mat-tab-group>
    <mat-tab label="Skills">
         <!-- Accordion form start -->
         <div class="container">
            <div class="">
                <form class="form-employment" action="" method="post">
                    <div class="row my-3">
                        <div class="">
                            <label for="skills" class="form-label">Special Skills</label>
                            <input type="text" class="form-control" placeholder="Add your special skills here">
                        </div>  
                    </div>
                    <div class="row my-3">
                        <div class="">
                            <label for="skills" class="form-label">Other Skills</label>
                            <textarea type="text" class="form-control" placeholder="Add all skills here"></textarea>
                        </div>  
                    </div>
                    
                    <div class="mt-2">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="submit" class="btn btn-primary">Close</button>
                    </div>
                </form>
            </div>
        </div>
          <!-- accordion form end --> 
    </mat-tab>

    <mat-tab label="Portfoloi">
         <!-- accordion form start -->
         <div class="container">
            <div>
              <form class="form-personal" action="" method="post">
                <div class="row my-3">
                  <div class="">
                    <label for="picture" class="form-label">Upload picture</label>
                    <input type="file" class="form-control">
                  </div>
                </div>
                <div class="row my-3">
                  <div class="col-lg-6 mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" placeholder="Title">
                  </div>
                  <div class="col-lg-6">
                    <label for="portfolio-website" class="form-label">Portfolio Website</label>
                    <input type="text" class="form-control" placeholder="Portfolio Website">
                  </div>
                </div>
                <div class="row my-3">
                  <div class="col-lg-6 mb-3">
                    <label for="skills" class="form-label">Skills</label>
                    <textarea type="text" class="form-control" placeholder="Skills"></textarea>
                  </div>
                  <div class="col-lg-6">
                    <label for="description" class="form-label">Description</label>
                    <textarea type="text" class="form-control" placeholder="Description"></textarea>
                  </div> 
                </div>
                <div class="my-2">
                  <button type="submit" class="btn btn-primary">Save</button>
                  <button type="submit" class="btn btn-primary">Close</button>
                </div>
              </form>
            </div>
          </div>

          <!-- accordion form end --> 
    </mat-tab>

    <mat-tab label="Languages">
         <!-- accordion form start -->
         <div class="container">
            <div>
              <form class="form-personal" action="" method="post">
                <div class="row my-1">
                  <div class="col-lg-6 mb-3">
                    <label for="language" class="form-label">Language</label>
                    <input type="text" class="form-control" placeholder="Language">
                  </div>
                  <div class="col-lg-6">
                    <label for="institute" class="form-label">Reading</label>
                    <select class="form-select">
                      <option selected>Select</option>
                      <option value="1">High</option>
                      <option value="2">Medium</option>
                      <option value="3">Low</option>
                    </select>
                  </div>
                </div>
                <div class="row my-3">
                  <div class="col-lg-6 mb-3">
                    <label for="writing" class="form-label">Writing</label>
                    <select class="form-select">
                      <option selected>Select</option>
                      <option value="1">High</option>
                      <option value="2">Medium</option>
                      <option value="3">Low</option>
                    </select>
                  </div>
                  <div class="col-lg-6">
                    <label for="speaking" class="form-label">Speaking</label>
                    <select class="form-select">
                      <option selected>Select</option>
                      <option value="1">High</option>
                      <option value="2">Medium</option>
                      <option value="3">Low</option>
                    </select>
                  </div>
                </div>
                <div class="my-2">
                  <button type="submit" class="btn btn-primary">Save</button>
                  <button type="submit" class="btn btn-primary">Close</button>
                </div>
              </form>
            </div>
          </div>

          <!-- accordion form end --> 
    </mat-tab>

    <mat-tab label="References">
        <!-- accordion form start -->
        <div class="container">
            <div>
              <form class="form-personal" action="" method="post">
                <div class="row my-1">
                  <div class="col-lg-6 mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" placeholder="Name">
                  </div>
                  <div class="col-lg-6">
                    <label for="designation" class="form-label">Designation</label>
                    <input type="text" class="form-control" placeholder="Designation">
                  </div>
                </div>
                <div class="row my-3">
                  <div class="col-lg-6 mb-3">
                    <label for="organization" class="form-label">Organization</label>
                    <input type="text" class="form-control" placeholder="Organization">
                  </div>
                  <div class="col-lg-6">
                    <label for="relation" class="form-label">Relation</label>
                    <select class="form-select">
                      <option selected>Select</option>
                      <option value="1">Academic</option>
                      <option value="2">Professional</option>
                      <option value="3">Relative</option>
                      <option value="4">Family</option>
                      <option value="4">Others</option>
                    </select>
                  </div>
                </div>
                <div class="row my-3">
                  <div class="col-lg-6 mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" class="form-control" placeholder="Email">
                  </div>
                  <div class="col-lg-6">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="number" class="form-control" placeholder="Phone">
                  </div>
                </div>
                <div class="row my-3">
                  <div class="">
                    <label for="email" class="form-label">Address</label>
                    <textarea type="text" class="form-control" placeholder="Full Address"></textarea>
                  </div>
                </div>

                <div class="my-2">
                  <button type="submit" class="btn btn-primary">Save</button>
                  <button type="submit" class="btn btn-primary">Close</button>
                </div>
              </form>
            </div>
          </div>

          <!-- accordion form end --> 
   </mat-tab>
  </mat-tab-group>