<!-- Accordion form start -->
<div class="container mt-3">            
    <table class="table table-bordered text-center">
      <thead>
        <tr>
          <th>Net Income</th>
          <th>Withdrawn</th>
          <th>VAT</th>
          <th>Current Balance</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>$100</td>
          <td>$70</td>
          <td>$5</td>
          <td>$25</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- accordion form end -->

  
<!-- accordion form start -->
  <div class="container mt-5">
    <div>
      <h3>History</h3>
    </div>            
    <table class="table text-center">
      <thead>
        <tr>
          <th>Date</th>
          <th>Description</th>
          <th>Transaction ID</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>20-12-2020</td>
          <td>IN</td>
          <td>TR00338476</td>
          <td>$25</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- accordion form end -->
