
    <!-- accordion form start -->
    <div class="container">
      <div>
        <h6>Present Address</h6>
        <form class="form-address">
          <div class="row my-1">
            <div class="col-lg-6 mb-3">
              <label for="pre-district" class="form-label">District</label>
              <input type="text" class="form-control" placeholder="District" id="pre_district">
            </div>
            <div class="col-lg-6">
              <label for="pre-upazila" class="form-label">Upazila</label>
              <input type="text" class="form-control" placeholder="Upazila" id="pre_upazila">
            </div>
          </div>
          <div class="row my-3">
            <div class="col-lg-6 mb-3">
              <label for="pre-post-office" class="form-label">Post Office</label>
              <input type="text" class="form-control" placeholder="Post Office" id="pre_post_office">
            </div>
            <div class="col-lg-6">
              <label for="pre-village" class="form-label">Village/Area</label>
              <input type="text" class="form-control" placeholder="Village/Area" id="pre_village">
            </div>
          </div>
          <h6>Permanent Address</h6>
          <div class="row my-3">
            <div class="col-lg-6 mb-3">
              <label for="per-district" class="form-label">District</label>
              <input type="text" class="form-control" placeholder="District" id="per_district">
            </div>
            <div class="col-lg-6">
              <label for="per-upazila" class="form-label">Upazila</label>
              <input type="text" class="form-control" placeholder="Upazila" id="per_upazila">
            </div>
          </div>
          <div class="row my-3">
            <div class="col-lg-6 mb-3">
              <label for="per-post-office" class="form-label">Post Office</label>
              <input type="text" class="form-control" placeholder="Post Office" id="per_post_office">
            </div>
            <div class="col-lg-6">
              <label for="per-village" class="form-label">Village/Area</label>
              <input type="text" class="form-control" placeholder="Village/Area" id="per_village">
            </div>
          </div>
          <div class="my-2">
            <button type="submit" class="btn btn-primary" id="btn_save3">Save</button>
            <button type="submit" class="btn btn-primary">Close</button>
          </div>
        </form>
      </div>
    </div>
  
    <!-- accordion form end -->
