<!-- Accordion form start -->
<div class="container">
    <div class="">
        <form class="form-employment" action="" method="post">
            <div class="row my-3">
                <div class="">
                    <label for="skills" class="form-label">Special Skills</label>
                    <input type="text" class="form-control" placeholder="Add your special skills here">
                </div>  
            </div>
            <div class="row my-3">
                <div class="">
                    <label for="skills" class="form-label">Other Skills</label>
                    <textarea type="text" class="form-control" placeholder="Add all skills here"></textarea>
                </div>  
            </div>
            
            <div class="mt-2">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="submit" class="btn btn-primary">Close</button>
            </div>
        </form>
    </div>
</div>
  <!-- accordion form end -->
