<!-- Posted job list start -->
<div class="container">
    <table class="table align-middle mb-0">
        <thead class="bg-light">
        <tr>
            <th>Apply Date</th>
            <th>Title</th>
            <th>Company Name</th>
            <th>Category</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr> <!-- *ngFor="let job of jobs" -->
            <td>
            <div class="d-flex align-items-center">
                <p class="mb-1">30/11/2022</p>
            </div>
            </td>
            <td>
                <p class="mb-1 job-title" [routerLink]="">Software Engeneering</p>
            </td>
            <td>
            <span class="">Nagad</span>
            </td>
            <td>
              <span class="">IT/Development</span>
            </td>
            <td>Viewd</td>
            <td>
                <div>
                    <button [routerLink]="" type="button" class="btn btn-sm btn-outline-primary mb-1">View</button>
                </div>
            </td>
        </tr>
        <tr>  <!-- *ngFor="let job of jobs" -->
            <td>
            <div class="d-flex align-items-center">
                <p class="mb-1">3/1/2022</p>
            </div>
            </td>
            <td>
                <p class="mb-1 job-title" [routerLink]="">Graphic Designer</p>
            </td>
            <td>
            <span class="">TCLD</span>
            </td>
            <td>
              <span class="">Creative/Design</span>
            </td>
            <td>Not Viewd</td>
            <td>
                <div>
                    <button [routerLink]="" type="button" class="btn btn-sm btn-outline-primary mb-1">View</button>
                </div>
            </td>
        </tr>
        <tr> <!-- *ngFor="let job of jobs" -->
            <td>
            <div class="d-flex align-items-center">
                <p class="mb-1">30/11/2022</p>
            </div>
            </td>
            <td>
                <p class="mb-1 job-title" [routerLink]="">Marketing Manager</p>
            </td>
            <td>
            <span class="">IsDB</span>
            </td>
            <td>
              <span class="">Marketing</span>
            </td>
            <td>Not Viewed</td>
            <td>
                <div>
                    <button [routerLink]="" type="button" class="btn btn-sm btn-outline-primary mb-1">View</button>
                </div>
            </td>
        </tr>
        <tr> <!-- *ngFor="let job of jobs" -->
            <td>
            <div class="d-flex align-items-center">
                <p class="mb-1">12/1/2022</p>
            </div>
            </td>
            <td>
                <p class="mb-1 job-title" [routerLink]="">Java Developer</p>
            </td>
            <td>
            <span class="">MISOFT LTD</span>
            </td>
            <td>
              <span class="">IT/Development</span>
            </td>
            <td>Viewed</td>
            <td>
                <div>
                    <button [routerLink]="" type="button" class="btn btn-sm btn-outline-primary mb-1">View</button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!-- Posted job list end -->


