<!-- accordion form start -->
<div class="container">
    <div>
      <form class="form-personal" action="" method="post">
        <div class="row my-1">
          <div class="col-lg-6 mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" placeholder="Name">
          </div>
          <div class="col-lg-6">
            <label for="designation" class="form-label">Designation</label>
            <input type="text" class="form-control" placeholder="Designation">
          </div>
        </div>
        <div class="row my-3">
          <div class="col-lg-6 mb-3">
            <label for="organization" class="form-label">Organization</label>
            <input type="text" class="form-control" placeholder="Organization">
          </div>
          <div class="col-lg-6">
            <label for="relation" class="form-label">Relation</label>
            <select class="form-select">
              <option selected>Select</option>
              <option value="1">Academic</option>
              <option value="2">Professional</option>
              <option value="3">Relative</option>
              <option value="4">Family</option>
              <option value="4">Others</option>
            </select>
          </div>
        </div>
        <div class="row my-3">
          <div class="col-lg-6 mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" placeholder="Email">
          </div>
          <div class="col-lg-6">
            <label for="phone" class="form-label">Phone</label>
            <input type="number" class="form-control" placeholder="Phone">
          </div>
        </div>
        <div class="row my-3">
          <div class="">
            <label for="email" class="form-label">Address</label>
            <textarea type="text" class="form-control" placeholder="Full Address"></textarea>
          </div>
        </div>

        <div class="my-2">
          <button type="submit" class="btn btn-primary">Save</button>
          <button type="submit" class="btn btn-primary">Close</button>
        </div>
      </form>
    </div>
  </div>

  <!-- accordion form end -->
